<div class="">
  <h3 class="h4"><%= @agent.full_name %></h3>
  <p><%= @agent.company %></p>

  <button class="btn btn-info text-uppercase">Call</button>
  <button class="btn btn-success text-uppercase">Email for more details</button>
</div>