<div class="text-center border p-4 ml-lg-4">
  <div class="mb-2">
    <%= profile_picture @agent %>
  </div>
  <h3 class="h4"><%= @agent.full_name %></h3>
  <p><%= @agent.company %></p>

  <button class="btn btn-info text-uppercase">Call</button>
  <button class="btn btn-success text-uppercase">Email</button>
</div>