<div class="text-center">
  <div class="mb-2">
    <%= profile_picture agent %>
  </div>
  <h3 class="h4 m-0"><%= agent.full_name %></h3>
  <p><%= agent.company %></p>

  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <button class="btn btn-block btn-info text-uppercase mb-1" id="show-tel" data-telephone="<%= agent.telephone %>"><i class="fas fa-phone mr-2"></i><span>Call</span></button>
    </div>
    <div class="col-md-10">
      <button class="btn btn-block btn-success text-uppercase" data-toggle="modal" data-target="#contact-modal"><i class="fas fa-envelope mr-2"></i>Email</button>
    </div>
  </div>
</div>