<% posts.each do |post| %>
<div class="col-4">
  <div class="property border">

    <div class="property-thumb" style="background-image:url('<%= post_thumbnail_url(post) %>')">
      <%= link_to "", post_path(post) %>
    </div>

    <div class="property-summary p-3">
      <h3 class="h5"><%= link_to post.title, post_path(post), class: "text-dark" %></h3>

      <p class="mt-2"><%= post.summary %></p>
    </div>
  </div>
</div>
<% end %>