// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.property-thumb {
  height: 170px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.property-main-photo{
  height: 600px;
  background-size: cover;
  margin-bottom: 40px;
  background-position-y: center;
}

#prop-details {
  height: 70px;
  overflow: hidden;

  &.open {
    height: auto;
  }
}