// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#notifications{
  display: none;
}

body{
  padding-top: 0px;
}

.img-circle {
  border-radius: 50%;
}