// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#notifications {
  display: none;
}

body {
  padding-top: 0;
}

.img-circle {
  border-radius: 50%;
}

#home-banner .jumbotron {
  padding-top: 150px;
  background: image-url("banners/home.jpg") no-repeat center center;
  background-size: cover;
}

#blog-banner .jumbotron {
  padding-top: 150px;
  background: image-url("banners/blog.png") no-repeat center center;
  background-size: cover;
}

.main-banner .jumbotron {  
  h1, p {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px #777;
  }
}